*{
    margin: 0;
    padding: 0;
  }

  body{
    
  }
  
  
 

  .topnav {
    overflow: hidden;
    background-color: #333;
    
  }



  .topnav a {
    float: left;

    font-weight: 500 ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #fffefe;
    color: rgb(0, 0, 0);
  }
  

  .topnav a.active {
    background-color: #d32722;
    color: white;
    
  }


.logo-name a{

color: beige;
font-family: 'Orbitron', sans-serif;


}


.logo-name{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2rem;
}




  .bg-color{
    height: 1600px;
    padding-top:1rem;
    
    background: linear-gradient(to top right ,#e44124,#ff9c07da);
    z-index: -1;

   
  }

h1{
    
    padding: 2rem;
    background-color: black;
    color: white;
    font-family: sans-serif;
}



.content{
    margin-top: 2rem;
    margin-left: 20%;
    background: #1a1919;
    width: 50%;
    height: 1200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3rem;
   

   
}

.top-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.curr-loan{
  
border-radius: 0px;
background: #1a1919;
box-shadow:  6px 6px 12px #0f0e0e,
             -6px -6px 12px #252424;
margin: 1rem;
padding: 2rem;
width: 32%;
height: 400px;
display: flex;
flex-direction: column;
justify-content: space-around;


}


.new-loan{

border-radius: 0px;
background: #1a1919;
box-shadow:  6px 6px 12px #0f0e0e,
             -6px -6px 12px #252424;
margin: 1rem;
padding: 2rem;
width: 32%;
display: flex;
flex-direction: column;
justify-content: space-around;


}



.curr-items{
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btnn{
  outline: none;
  margin-top: 3rem;
  border-radius: 100px;
  
  

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-family:  Times New Roman;  
  color: rgb(255, 255, 255); 
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px;
background: #1a1919;
box-shadow:  6px 6px 12px #0f0e0e,
             -6px -6px 12px #252424;

  transition: all 0.3s ease 0s;
}

.btnn:hover{
  background-color:rgb(175, 60, 14) ;
  color: beige;
  background: linear-gradient(to top right ,#fc1d1d,#f7aa46);
  
  box-shadow: 0px 10px 10px rgba(109, 30, 30, 0.842);
  border-radius: 10px;
  
  transform: translateY(-5px);
}

p{
    text-align: left;
  color:rgb(68, 65, 65);
  font-family: 'Hind', sans-serif;
  font-size: 14px;

}
input{
  border-radius: 5px;
background: #ffffff;
box-shadow: inset -37px -37px 74px #ece6e6,
            inset 37px 37px 74px #9e9999;
            background: #1a1919;
box-shadow: inset -26px 26px 41px #0d0d0d,
            inset 26px -26px 41px #272626;
color: ivory;
height: 1rem;
outline: none;
padding: 10px;
}

.bottom-content{


  width: 100%;
  height: 48%;
  border-radius: 0px;
background: #1a1919;
box-shadow: inset -26px 26px 41px #0d0d0d,
            inset 26px -26px 41px #272626;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
}





img{
    width: 500px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

h3{
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: white;
}

h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
    color: white;
}
li{
    color:rgb(68, 65, 65);
    font-family: 'Hind', sans-serif;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    font-family: 'Hind', sans-serif;
    font-size: 14px;

  }
  


  .bottom-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .bottom-curr, .bottom-new{

    
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    
  }

  #saving{
  margin-top : 2rem;
    color: white;
    font-size: 2rem;
    height: 5rem;

  }