<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="static/css/choosing-provider.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Merriweather+Sans:wght@500&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Orbitron:wght@500&display=swap"
        rel="stylesheet">
    <title>Choosing Home Loan Provider- HomeStats</title>
</head>


<body>

    <nav>
        <div class="topnav">

            <a class="active" href="#home">Home</a>
          <a   href="#contact">Calculators</a>
          <a  href="home_loan.html">Home Loan</a>
          <a  href="legal_and_tax.html">Legal and Tax</a>
        <div   class= "logo-name" ><a href="index.html">HOME STATS</a></div>

        </div>

    </nav>

    <div class="container">

        <div class="bg-color">
            <center><h1> Choosing Home Loan Provider</h1></center> 

            <div class="content">
                <center><img src="../HomeStats/images/loan-eligible.jpg" alt=""></center>
                
                <br>


               </div>
            </div>
        </div>
        
        </body>
        
        </html>