<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="../static/css/certificates.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Merriweather+Sans:wght@500&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Orbitron:wght@500&display=swap"
        rel="stylesheet">
    <title>Important Certifcates- HomeStats</title>
</head>


<body>

    <nav>
        <div class="topnav">

            <a href="{{ url_for('home') }}">Home</a>
              <a   href="{{ url_for('calculators') }}">Calculators</a>
              <a    href="{{ url_for('home_loan') }}">Home Loan</a>
              <a class="active" href="{{ url_for('legal_and_tax') }}">Legal and Tax</a>
            <div   class= "logo-name" ><a href="{{ url_for('home') }}">HOME STATS</a></div>

        </div>

    </nav>

    <div class="container">

        <div class="bg-color">
            <center><h1> Important Certifcates</h1></center> 

            <div class="content">
                <center><img src="{{url_for('static',filename = 'images/certificate.jpg')}}" alt=""></center>
                
                <br>

                <p>If you own a flat in a high-rise building or have booked a flat which is currently under construction, then you should be well aware about certain documents that accompany real estate transactions – namely, the Completion Certificate, Commencement Certificate and Occupancy Certificate.

 

                    Many homebuyers have tend to overlook collecting these documents from the previous owner or the developer, as these are not required while registering a property. But the absence of any one of these documents might point to discrepancies in building plan approval which could land the homebuyer in trouble with the municipal corporation.</p>
                    <br>
                    <h3><u>Commencement Certificate</u></h3>
                    <p><b>What is a Commencement Certificate?</b></p><br>
                    <p>A commencement certificate is a document issued by the local municipal authority that gives the developer permission to begin the construction of a project. The developer gets the certificate only when the project meets all legal requirements and has all the relevant sanctions for the building’s plan. In the case of an under-construction property, you must ask the developer to furnish the Commencement Certificate to ascertain that the construction of the project is being carried out after all requisite approvals have been obtained.

 

                        As a homebuyer who has already moved into a home without a Commencement Certificate, you can file a writ petition with the Building Proposal Department or approach the Consumer Forum.</p>
                        <br><br>
                        <p><b>Importance of the Commencement Certificate</b></p><br>
                        <p>The Commencement Certificate establishes the permission to start the construction of a project. Therefore, you must not invest in a project where the builder fails to present a valid certificate. In the case of high-rise buildings, you must also check if the floor that you intend to buy the property on is mentioned in the Commencement Certificate.

 

                            Buying in a project without a valid Commencement Certificate runs the risk of making you the owner of an illegal property, thus affecting the legal title to the property. Also, a project is not issued an Occupancy Certificate in the absence of the Commencement Certificate.
                            
                             
                            
                            Further, under the Real Estate (Regulation and Development) Act (RERA) norms, an authentic Commencement Certificate is a necessary document. A project can be registered under RERA only after procuring the Commencement Certificate. Thus, if the project under consideration does not have a Commencement Certificate, in most possibilities, it would not be covered under RERA, further jeopardising the safety of your investment.
                            
                             </p><br><br>
                             <h3><u>Occupancy Certificate</u></h3>
                             <p><b>What is an Occupancy Certificate?</b></p><br>
                             <p>An occupancy certificate is a document issued by a local municipal or building department authority, which certifies the compliance of a building with relevant building codes and its suitability for occupancy. This certificate is issued once the authority ensures that the building follows certain safety norms and has all the basic amenities, and is subject to change, based on the laws of the State.

                            </p>
                            <br>
                            <p><b>How to obtain it?</b></p><br>
                            <p>The onus of obtaining the certificate for an unoccupied building is upon the builder. However, if you have already occupied the flat without the certificate, you can approach the local corporation to apply for the same. To apply for this certificate, you are required to either visit the local corporation or go on the respective corporation’s website and click on the ‘Building Applications Online’ option. For the online as well as the offline procedure, you must collect the following documents from the builder and submit them along with the application form:

                            </p>
                            <br>
                            <ul>
                                <li>Copy of building sanction plan (building plan approval copy)</li>
                                <li>Building Commencement Certificate</li>
                                <li>Copy of Building Completion Certificate</li>
                                <li>Latest property tax receipt</li>
                                <li>Copies of No Objection Certificates (NOCs) of pollution board or airport authority (for height restrictions), whichever is applicable
                                </li>
                            </ul>
                            <br>
                            <p><b>Importance of the Occupancy Certificate</b></p><br>
                            <p>Occupancy Certificate is one of the most essential documents, which you must obtain from the builder. You can even take the legal recourse if the builder denies handing over the Occupation Certificate or forces you to take the possession of the apartment without the certificate.

 

                                Occupying a property without an Occupancy Certificate is considered illegal. You will face several hurdles in getting a water or electricity connection. If you want to claim income tax benefits on your home loan with your employer, you will be asked to furnish this certificate. Many financial institutions also insist on an Occupancy Certificate from the buyer if they wish to avail a home loan.
                                
                                 </p><br>
                                 <p><b>Legal recourse if builder denies OC</b></p><br>
                                 <ul>
                                     <li>If you have not received any information about the OC from the builder, then you can file an RTI to find out if OC has been taken or not by the builder.
                                    </li>
                                     <li>You can send a legal notice to the builder, through an attorney who deals with real estate, for obtaining the OC.</li>
                                     <li>RERA has norms that state that a builder has to take the OC before providing possession and if there is a breach, then a complaint shall be filed before a State RERA Authority.</li>
                                     <li>If at any time the home-buyer finds out that the builder has given the possession without furnishing the OC then, as per RERA norms, the builder should compensate the homeowner sufficiently.</li>
                                 </ul><br>
                                 <h3><u>Completion Certificate</u></h3>
                                 <p><b>What is a Completion Certificate?</b></p><br>
                                 <p>    A Completion Certificate is an essential document attesting that a building has been constructed as per the safety norms and guidelines of the Buildings Act. This certificate contains all the information about the project – from the building height to the quality of the construction material used.

                                </p><br>
                                <p><b>How to obtain it?</b></p><br>
                                <p>The developer of a project or the owner of a standalone property is required to obtain this certificate from the local building authority. If the property meets all the norms and safety guidelines laid down by the Buildings Act, the authority issues the Completion Certificate after conducting the necessary inspections.

 

                                    In case there is pending work in the project, but the developer has to hand over the property to the buyer, a provisional completion certificate is provided. The validity of this certificate is six months, at the end of which, the builder must obtain the final Completion Certificate.
                                    
                                     
                                    
                                    In case the builder has not obtained the certificate, the residents of the project can form a Resident Welfare Association (RWA) and apply for the certificate with the municipal authority office. If the authority fails to provide the same, the RWA can approach the court for further legal action against the builder.
                                    
                                     </p>
                                     <br>
                                     <p><b>Importance of the Completion Certificate

                                    </b></p><br>
                                    <p>Completion Certificate establishes that the building construction has been carried out in compliance with all building rules and standards such as the Floor Area Ratio (FAR), structural design and layout, construction quality and distance from the road and surrounding buildings, among others.

 

                                        For a newly constructed project, the Completion Certificate is an essential document, which ensures the supply of basic amenities such as water, electricity, drainage and sanitation systems. In fact, the authorities provide water to buildings at the domestic price only after the Completion Certificate has been issued. Further, without a Completion Certificate, you will not be able to attain legal possession of the property.
                                        
                                         </p><br>
                                         <h3>Implications of not having one of these certificates</h3>
                                            <p>The Commencement Certificate, Occupancy Certificate and the Completion Certificate are the most important certificates for a real estate project. The absence of any one of these documents could be highly troublesome for the developer as well as the homebuyer in many ways:

                                            </p>
                                            <ul>
                                                <li>The local building authority has the right to issue an eviction notice to the homeowner in the absence of any one of these certificates.
                                                </li>
                                                <li>The development authority or the municipal corporation can charge the developer a penalty of Rs 50 per sq m (subject to change under different State laws) for buildings without a completion certificate.</li>
                                                <li>The homebuyer will be unable to apply for housing loans with many financial institutions or claim income tax benefits on the same without a completion or occupancy certificate</li>
                                                <li>Also, the developer will be unable to get the supply of basic amenities such as electricity and water from the local corporation</li>
                                                <li>Safety norms for fire safety or earthquake preparedness are often overlooked if these certificates are not issued</li>
                                            </ul>
                                            <br>










               </div>
            </div>
        </div>
        
        </body>
        
        </html>