<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="../static/css/gst.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Merriweather+Sans:wght@500&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Orbitron:wght@500&display=swap"
        rel="stylesheet">
    <title>All about GST- HomeStats</title>
</head>


<body>

    <nav>
        <div class="topnav">

              <a href="{{ url_for('home') }}">Home</a>
              <a   href="{{ url_for('calculators') }}">Calculators</a>
              <a    href="{{ url_for('home_loan') }}">Home Loan</a>
              <a class="active" href="{{ url_for('legal_and_tax') }}">Legal and Tax</a>
            <div   class= "logo-name" ><a href="{{ url_for('home') }}">HOME STATS</a></div>

        </div>

    </nav>

    <div class="container">

        <div class="bg-color">
            <center><h1> All about GST</h1></center> 

            <div class="content">
                <center><img src="{{url_for('static',filename = 'images/gst.jpg')}}" alt=""></center>
                
                <br>


                <p>Major policy reforms introduced by the central government such as Real Estate (Regulation and Development) Act (RERA) 2016, and Housing for all saw the advent of a transparent and regulated real estate market in India this year. The biggest tax amendment, Goods and Services Tax (GST) further challenged to transform the imbalanced market by replacing the multiple taxes in the industry.

                </p>
                <br>
                <h3>What is GST?</h3>
                <p>Implemented on July 1, 2017, Goods and Services Tax (GST) is an indirect tax that replaced the cascading effect of multiple taxes levied by the government both at the central and state level. The new tax subsumes several old taxes into one including central excise tax, service tax, octroi tax, surcharges, Value Added Tax (VAT) and other local levies, thereby simplifying the tax compliance process and minimising the scope for double taxation.

                </p>

                <ul>
                    <li>The Government has segregated GST on property in two tax slabs 1 percent and 5 percent.</li>
                    <li>A nominal 1 percent GST is charged on affordable homes priced below Rs 45 lakh</li>
                    <li>A 5 percent GST is levied on under-construction properties above Rs 45 lakh, without the ITC benefits</li>
                    <li>All goods and services supplied will be taxed under these slabs only.</li>
                    <li>The law has been passed by all States and union territories across country.</li>
                </ul>
                <br>
                <h3>Implications of GST on homebuyers</h3>
                <p>As real estate is one of the important sectors of the economy, making an average GDP contribution of 5-6 percent and driving approximately 250 allied industries, the GST’s implementation has been long anticipated to have a greater effect on the sector.

 

                    The new tax law aims to bring increased transparency by evading the multiple taxation mechanism and reducing unscrupulous transactions in the real estate space. 
                    
                     </p>
                     <br>

                     <table style="width:100%">
                        <tr>
                          <th>Transaction</th>
                          <th>New Regime</th>
                          <th>Old Regime</th>
                          
                        </tr>
                        
                        <tr>
                          <td>Sale within the state</td>
                          <td>CGST+SGST</td>
                          <td>Central Excise/Service Tax+ VAT

                        </td>
                        </tr>
    
                        <tr>
                            <td>Between states</td>
                          <td>IGST</td>
                          <td>Excise/Service TAX+ Central Sales Tax</td>
                        </tr>
                      
                      </table>
                      <br><br>
                      <p>In addition, the anti-profiteering clause of Input Tax Credit (ITC) introduced in GST makes it mandatory for the developer to pass on the benefits to the consumer at each stage of project completion, alleviating the property prices in under-construction purchases.

                    </p>
                    
                    <h3>Under-construction units

                    </h3>
                     <p>GST is anticipated to be a market booster for the real estate industry and is expected to revive buyer and investor sentiment by promising higher lucidity in the taxation structure and reducing the property prices by passing on the benefit of Input Tax Credit (ITC) from the builder to the final consumer.

 

                        Initially, under-construction properties were put in the 18 percent tax slab encompassing nine percent SGST and nine percent CGST. However, as the government permitted ITC to manufacturers ‘on the purchase of both raw materials (input) and final product and service (output), the effective tax rate to be paid by the buyer was reduced to 12 percent. The recent GST Council meet held on February 24, 2019, further slashed the GST prevalent on under-construction homes to five percent (minus ITC benefits), giving a major boost to the real estate sector.
                        
                         </p>  
                         <br>
                         <p>Additionally, the government has allowed a deduction of land value equal to one-third of the total amount for the purpose of GST calculation that would further alleviate property prices.

 

                            For instance, if the total cost of the property is Rs 60 lakh, a developer can extract up to Rs 20 lakh as the land cost and the total cost of GST will be calculated on the remaining Rs 40 lakh property value, reducing the mammoth tax burden on the developer, which will be eventually passed on to the end-consumer.
                            
                             </p><br>
                             <p><i>*The key highlight is that the GST levied would be exclusive of stamp duty and registration cost. All properties continue to attract stamp duty and registration fee of 5 percent and 1 percent (subject to State rules).</i></p>                  
                             <br>
                             <h3>Ready-to-move units</h3>
                             <p>Ready-to-move properties are kept out of the ambit of GST. Thus, the overall cost of the ready-to-move properties and resale properties continue to remain unchanged post GST.</p>
                             <br>





               </div>
            </div>
        </div>
        
        </body>
        
        </html>