<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="../static/css/home-loan-process.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Merriweather+Sans:wght@500&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Orbitron:wght@500&display=swap"
        rel="stylesheet">
    <title>Home Loan Process- HomeStats</title>
</head>


<body>

    <nav>
        <div class="topnav">
              <a href="{{ url_for('home') }}">Home</a>
              <a   href="{{ url_for('calculators') }}">Calculators</a>
              <a class="active"   href="{{ url_for('home_loan') }}">Home Loan</a>
              <a  href="{{ url_for('legal_and_tax') }}">Legal and Tax</a>
            <div   class= "logo-name" ><a href="{{ url_for('home') }}">HOME STATS</a></div>

        </div>

    </nav>

    <div class="container">

        <div class="bg-color">
            <center><h1> Home Loan Process</h1></center> 

            <div class="content">
                <center><img src="{{url_for('static',filename = 'images/loan-process.jpg')}}" alt=""></center>
                
                <h3>Step 1: Applying for a Home Loan</h3>
                <p> The procedure for a home loan begins with a formal application to the bank. 
                    In addition to the application, you are required to provide your personal 
                    details for the bank to scrutinize and to assess your loan eligibility.
                     Most banks will ask you for the following documents: 
                </p>
                <br>
                    <ul>
                        <li>Identity proof</li>
                        <li>Address Proof</li>
                        <li>Age proof</li>
                        <li> Proof of educational/ professional qualifications</li>
                        <li>Employment details</li>
                        <li> Bank statements</li>
                        <li> Proof of income</li>
                        <li> Pan Card</li>
                        <li>  Property details (in case it is finalized)</li>
                    </ul>
                    <br>
                <h3>Step 2: Payment of Loan Processing Fees</h3>
                <p>
                    Your bank will charge you a non-refundable loan-processing fee. 
                    Most banks charge between 0.25 and 0.50 percent of the loan amount as 
                    processing fees. Banks use this amount for commencing and maintaining the home loan process.
                </p>    
                    <br>
                <p>Of late, some banks have taken to waiving loan-processing fees to attract borrowers. 
                    You can negotiate with your bank and try to avail the benefit. However, not all banks
                      will be open to relinquishing the processing fees.</p>
                    <br>

                    <h3>Step 3: Applicant’s Scrutiny and Verification</h3>
                    <p>After you have submitted your application and the processing fees, the bank will evaluate your case and decide (in principal) the amount for which you are eligible.

 

                        You will be required to personally meet the bank’s officials (generally within 2 to 3 working days from submitting the application) so that they can gauge your repayment capacity.</p>
                    
                   <br>
                   <p>Post the personal interaction, the bank will proceed to verify all the facts and credentials provided by you. Bank representatives will visit your workplace and residence to validate the information you have provided in your application.</p>
                   
                   <br>

                   <h3>Step 4: Evaluation of Repayment Capacity</h3>
                   <p>Verification of the borrower’s re-payment capacity is the most crucial part of the home loan process. The bank may sanction or deny your home loan request depending on how satisfied it is with your ability to repay the principal (with interest) on time.</p>
                   <br>
                   <p>In case the bank issues a conditional sanction, all the stipulated conditions will have to be satisfied before the loan is disbursed.

                </p>
                <br>
                <h3>Step 5: Home Loan Offer Letter</h3>
                <p>At this stage the bank proceeds to draft an offer letter with the following details: </p>
                <br>

                <ul>
                    <li>Sanctioned amount</li>
                    <li>Rate of interest applicable</li>
                    <li>Fixed or floating rate of interest</li>
                    <li>Loan tenure</li>
                    <li>Mode of repayment</li>
                    <li>Special scheme (if applicable)</li>
                    <li>Terms and conditions associated with the loan</li>
                </ul>

                <br>
                <p>You need to submit a signed acceptance copy to the bank if the contents of the offer letter are acceptable to you. An acceptance copy is essentially a duplicate of the offer letter which the bank keeps for its records. Administrative fees (if any) levied by the bank needs to be paid at this stage.

                </p>
                <br>

                <h3>Step 6: Property Verification</h3>
                <p>Prior to disbursing the loan, the bank will verify the property in question. You will be required to submit original copies of the title deed, no objection certificate and other documents the bank might ask for.

 

                    A legal check will be conducted on the property to ascertain that the title is clear and that there is no dispute.
                    
                     
                    
                    A technical valuation of your property will also be conducted by the bank. In case of an under-construction property, the bank will scrutinize the location of the project, the stage, quality and progress of construction, etc and evaluate the property on the basis of established parameters.
                    
                     
                    
                    If a property is ready to be sold or is being re-sold, the bank evaluates its age, ownership, quality of construction, maintenance, locality and legal clearances. Bank-employed property evaluators assess its value on set parameters and decide on the amount of loan to be sanctioned.
                    
                     </p>
                     <br>
                     <p>All new home loan borrowers must check whether the developer has complied with all RERA norms. Banks approve and disburse loans to only those builders who have registered their projects under RERA.

 

                        Please note that your home loan is a secured loan and the property itself is the collateral. Therefore, your documents will be returned to you only once the entire loan amount has been repaid.</p>

                        <br>
                        <h3>Step 7: Home Loan Disbursal</h3>
                        <p>Once all the above-mentioned formalities have been satisfactorily fulfilled, the registration process for the home loan commences.

 

                            The legal documents need to be prepared in a format approved by the bank’s lawyer on stamp papers of required denominations. Subsequently, you will be required to submit post-dated cheques for the agreed term and sign the home loan agreement.</p>
                            <br>
                            <p>The home loan disbursal process will begin after you sign the loan agreement. Depending on the type of disbursal agreed upon (whether lump-sum or in stages), your bank will dispense the loan amount.

                            </p>



            </div>







            


        </div>
    </div>


</body>

</html>