<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js" integrity="sha512-FJ2OYvUIXUqCcPf1stu+oTBlhn54W0UisZB/TNrZaVMHHhYvLBV9jMbvJYtvDe5x/WVaoXZ6KB+Uqe5hT2vlyA==" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="static/css/monthly-repayment.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Merriweather+Sans:wght@500&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;200;300;400&family=Orbitron:wght@500&display=swap"
        rel="stylesheet">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap" rel="stylesheet">

    <title>Monthly Loan Repayment- HomeStats</title>
</head>


<body>

    <nav>
        <div class="topnav">

             <a href="{{ url_for('home') }}">Home</a>
              <a  class="active"   href="{{ url_for('calculators') }}">Calculators</a>
              <a    href="{{ url_for('home_loan') }}">Home Loan</a>
              <a href="{{ url_for('legal_and_tax') }}">Legal and Tax</a>
            <div   class= "logo-name" ><a href="{{ url_for('home') }}">HOME STATS</a></div>

        </div>

    </nav>

    <div class="container">

        <div class="bg-color">
            <center><h1> Monthly Loan Repayment Calculator</h1></center> 

            <div class="content">
               
                
                <div class="top-content">
                    <div class="curr-loan">

                        
    
                        
                        <h3 class='curr-items'>Current Loan</h3>
                            <div>
                                <h4 class='curr-items'>Loan Amount </h4>
                                <input class='curr-items' type=number id="principal_loan">
                                
                            </div>
                            <div>
                                <h4 class='curr-items'>Rate Of Interest </h4>
                                <input class='curr-items' type="number" id='curr_rate'>
                                
                            </div>
                            <div>
                                <h4 class='curr-items'>Installments Paid </h4>
                                <input class='curr-items' type="number" id='installments'>
                                
                            </div>
                            <div>
                                <h4 class='curr-items'>Tenure (in years)</h4>
                                <input class='curr-items' type="number" id = 'curr_years'>
                            </div>
    
                        
                    </div>
    
         
                      
    
                </div>


                <center><button class="submit btnn"  id = "find" type="button">Calculate</button></center><br>



                <div class="bottom-content">

                    <div class="bottom-items">

                        <div class="bottom-curr">
                            
                            <div class = 'curr-items'>
                                <h4>Principal Paid</h4>
                                <input type="text" id = 'principal_paid'>
                            </div>
                            <div class = 'curr-items'>
                                <h4>Interest Paid </h4>
                                <input type="text" id = 'interest_paid'>
                            </div>
                            <div class = 'curr-items'>
                                <h4>Installments Paid</h4>
                                <input type="text" id = 'installments_paid'>
                            </div>

                        </div>

                        <div class="bottom-new">
                            
                            <div class = 'curr-items'>
                                <h4>Principal Outstanding</h4>
                                <input type="text" id = 'outstanding_principal'>
                            </div>
                            <div class = 'curr-items'>
                                <h4>Interest Outstanding </h4>
                                <input type="text" id = 'interest_outstanding'>
                            </div>
                            <div class = 'curr-items'>
                                <h4>EMI </h4>
                                <input type="text" id = 'emi'>
                            </div>


                        </div>
                    </div>

                    <!-- <center> <div>

                        <h4>Outstanding Principal </h4>
                        <input type="number" id = 'outstanding_principal'>
                        <br>
                        <div class="savings" > <span id = 'saving'>              </span> </div>
                    </div></center> -->

                    


                    </div>
                    

                    
                    
                </div>


                

               </div>
            </div>
        </div>



        <script src='static/js/monthly-repayment.js'> </script>
        
        </body>
        
        </html>