<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="../static/css/property-registration.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Merriweather+Sans:wght@500&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Orbitron:wght@500&display=swap"
        rel="stylesheet">
    <title>Property Registration Process- HomeStats</title>
</head>


<body>

    <nav>
        <div class="topnav">
 <a href="{{ url_for('home') }}">Home</a>
              <a   href="{{ url_for('calculators') }}">Calculators</a>
              <a    href="{{ url_for('home_loan') }}">Home Loan</a>
              <a class="active" href="{{ url_for('legal_and_tax') }}">Legal and Tax</a>
            <div   class= "logo-name" ><a href="{{ url_for('home') }}">HOME STATS</a></div>

        </div>

    </nav>

    <div class="container">

        <div class="bg-color">
            <center><h1> Property Registration Process</h1></center> 

            <div class="content">
                <center><img src="{{url_for('static',filename = 'images/real-estate.jpg')}}" alt=""></center>
                
                <br>

                <p> 

                    Property registration is an integral part of the home buying process. Of all the steps involved in buying a property, registration is probably the most complex in nature. The legalities and paperwork involved can confuse even the smartest of the home buyers. Thus, it is always advisable to take assistance from a good broker or a real estate agent. You may also consider hiring a lawyer to ensure a smooth and hassle-free property registration process.
                    
                     </p>
                     <br>
                     <h3>Process of registering a property</h3>
                     <p>Registering the documents related to the transfer, sale or lease of a property is mandatory by law under Section 17 of the Indian Registration Act, 1908. Particularly for the state of Maharashtra, the registration of an agreement to buy or sell an apartment is compulsory under Section 4 of the Maharashtra Ownership Flats Act, 1963. A person in whose favour the property is registered becomes its lawful owner.

 

                        If, however, the required documents are not duly registered, the law neither recognizes the unregistered owners nor provides them any right over the property. To give you a detailed idea about the process, we have categorized the steps involved in the registration of a property and the documents required to ensure that your property gets successfully and timely registered.</p>
                        <br>
                        <h3>Step 1: Check for encumbrances at the office of Sub-Registrar of Assurances</h3>
                        <p>This can be done by taking a look at the title deed or ownership status of the property such as mortgages or liens. You should verify that the title deed is registered in the name of the person who is selling the property and all the documents are in place for the registration of the same. While investigating this, you must check the following aspects:

                        </p>
                        <br>
                        <ul>
                            <li>The legal ownership document must be in the name of the owner. This document is issued by the Revenue Record Department and bears the seal of the Tehsildar. A Tehsildar is a gazetted officer in charge of obtaining taxation from a tehsil (an administrative division).
                            </li>
                            <li>Records for the last 30 years must be checked to make sure that the property has no mortgage or other encumbrances as on the date of purchase.
                            </li>
                            <li>Ensure that the property is transferable and heritable and the transferor/seller is authorized to sell it.
                            </li>
                            <li>Make sure that all dues related to payment of taxes, electricity bills and water bills have been paid till the date of purchase.
                            </li>
                        </ul><br>
                        <p>The entire process might take around 5-7 business days and would cost around Rs 10,000.

                        </p>
                        <br>
                        <h3>Step 2: Preparation of the final deed by the buyer’s lawyer</h3>
                        <p> It is the buyer’s lawyer who prepares the final sale deed of the property. The document is embossed on green legal paper leaving the date and place blank and then submitted for stamping. The fee of the lawyer though varies, is usually one percent of the property value and the process takes around a week.

                        </p>
                        <br>
                        <h3>Step 3:  Payment of stamp duty</h3>
                        <p>The buyer has to pay the stamp duty at the designated bank or authorized collection centre of the Stock Holding Corporation of India for stamping of the Sale Deed. The charges vary from state to state but are usually around 5 percent of the true market value of the property. This value is calculated basis the rates of property published in the Ready Reckoner issued by the Government of India annually. Once the payment is done, the bank issues a receipt and marks the first page of the printed Sale Deed with “stamp duty received”. This process does not take more than a day.

                        </p>
                        <h3>Step 4:  Execution of the final deed at the local office of Sub-Registrar of Assurances</h3>
                        <p>      This will require the presence of the buyer, the seller and two witnesses at the office of the Sub-Registrar of Assurances within whose jurisdiction the property is located. Once the document is registered after the signatures of buyer, seller and witnesses on the stamped deed, a distinct number is assigned to the documentation.</p>
                        <br>
                        <p>The documentation is then presented to the Reader of the Sub-Registrar of Assurances for scrutiny, who indicates the registration fee required. The fee is usually one percent of the transaction value or Rs 30,000 - whichever is less. The due registration fee is to be deposited with the cashier against a receipt and then the document is presented before the Sub-Registrar in accordance with Section 32 of the Registration Act, 1908. The documentation is returned to the buyer within half an hour. Subsequently, the seller hands over the physical possession (the keys) of the property to the buyer.

 

                            The documentation should include the following: 
                            
                             </p><br>

                             <ul>
                                 <li>Duplicate copy of the document required to be registered</li>
                                 <li>Two passport size photographs, each of the buyer, the seller and the two witnesses
                                </li>
                                 <li>Photo identity proof in the form of voter’s ID card and passport of the buyer, the seller and the two witnesses</li>
                                 <li>Certified true copies of Certificate of Incorporation of both seller and buyer, in case of a company and not an individual buyer</li>
                                 <li>
                                    Copy of the latest property register card to indicate that the property does not belong to the Government. This can be obtained from the City Survey Department
                                 </li>
                                 <li>Copy of the municipal tax bill to indicate the year in which the property was built/constructed</li>
                                 <li>Copy of the PAN Cards of the seller and the buyer (to be annexed along with the Sale Deed)</li>
                                 <li>Thumb impressions, photographs and signatures of the buyer, the seller and the two witnesses are mandatory</li>
                                 <li>The entire process though sounds very tiresome, takes only a day</li>
                             </ul>
                             <br>

                             <h3>Step 5: Apply for the mutation of the Title Deed</h3>
                             <br>
                             <p>Mutation refers to the change in title ownership from one person to another when a property is sold or transferred. This is essential as it enables the new owner to get the property recorded in his name in the Land Revenue Department. This also enables the government to levy property tax from the right owner.

                                Application for the mutation is made at the office of City Survey and Land Records Department. The authorized signatory is required to submit the duly signed application form along with the affidavit, indemnity bond and a notarized copy of the registered Sale Deed. After assessing the request for mutation, City Survey and Land Records Department decides the value of tax on the property and finally issues a letter of mutation in favour of the buyer.
                                
                                 </p><br>
                                 <p>The entire process takes around a month. The costs associated with the procedure include Rs 100 as the application fee, Rs 200 for the indemnity bond, Rs 100 for the affidavit and Rs 50 as notary charges.

 

                                    Once the buyer attains the letter of mutation, s/he becomes the official owner of the property purchased. Since the process is very complex and involves numerous steps, it is recommended that you should take assistance from a property agent or consultant and a qualified lawyer.
                                    
                                     </p>
                                     <br>




               </div>
            </div>
        </div>
        
        </body>
        
        </html>