<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="../static/css/taxes-involved.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Merriweather+Sans:wght@500&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Orbitron:wght@500&display=swap"
        rel="stylesheet">
    <title>Taxes Involved- HomeStats</title>
</head>


<body>

    <nav>
        <div class="topnav">

             <a href="{{ url_for('home') }}">Home</a>
              <a   href="{{ url_for('calculators') }}">Calculators</a>
              <a    href="{{ url_for('home_loan') }}">Home Loan</a>
              <a class="active" href="{{ url_for('legal_and_tax') }}">Legal and Tax</a>
            <div   class= "logo-name" ><a href="{{ url_for('home') }}">HOME STATS</a></div>

        </div>

    </nav>

    <div class="container">

        <div class="bg-color">
            <center><h1> Taxes Involved</h1></center> 

            <div class="content">
                <center><img src="{{url_for('static',filename = 'images/sale-rise.jpg')}}" alt=""></center>
                
                <br>

                <p>Are you aware of the legal aspects of investing in a property? Post the rollout of the Goods and Services Tax (GST), dynamics of to-be-levied taxes while buying a property have been changed. With the implementation of GST on all under-construction properties across the country, all indirect taxes applicable including VAT, Service Tax and other indirect taxes have been replaced by a single unified tax system. While registration and stamp duty are the familiar taxes, there are additional ones too. Read on to know more about all the tax components involved in the home buying process.

                
                </p>
                <br>
                <h3>Under-construction properties

                </h3>
                <p><b>Goods and Services Tax (GST)</b></p>
                <p>Under the new unified tax regime implemented by the Central Government, under-construction units were initially taxed at 18 percent. The government has also added a provision, allowing deduction of land value equivalent to one-third of the total amount charged by a developer, thus, resulting the effective GST rate on such units at 12 percent. However, the government revisited the tax slab prevalent on real estate and slashed it to five percent for under-construction units and one percent for affordable homes in February 2019.

 

                    It should be noted that stamp duty and registration charges are imposed in addition to GST on purchase of under-construction units,  as these are State levies.
                    
                     </p>
                     <br>
                     <h3>Ready-to-move properties</h3>
                     <p>Note: All ready-to-move properties across the country are outside GST ambit. They will be taxed as earlier. Read on to know more about all the tax components involved in buying a ready-to-move property.</p>
                     <p><b> Tax Deduction at Source (TDS):</b></p>
                     <br>
                     <p><b>Update: </b>The government amended section 194-IA of Income Tax Act to include all residential society-based charges such as club membership fee, car parking fee, electricity or water facility fee, maintenance fee, advance fee or any other charges of similar nature, which are incidental to transfer of the immovable property, for levy of TDS. Since September 1, 2019, the TDS is levied at one percent, if the value of the property exceeds Rs 50 lakh.

 

                        TDS was introduced under a new section, 194 (A) included in the Income Tax Act, 1961 by the Finance Act, 2013. This tax deducts some percentage of amount during a sale transaction by an individual. As per this section, any individual buying a property has to pay the TDS to the seller by way of consideration for transfer of an immovable property, excluding agricultural land. The TDS must be submitted in the name of seller of the property.
                        
                         
                    </p>
                    <br>
                    <p><b>Registration charge: </b>Registration process includes recording the Sale documents with a registering officer. Registering the documents relating to the transfer, sale or lease of a property is mandatory by law under Section 17 of the Indian Registration Act, 1908. According to the law, if the property documents are not duly registered, the owners will not be able to contend any case in court. The document is the final agreement which is signed between the two parties, subsequent to which the buyer will become the rightful owner of the property. This document protects the buyer in incidence of alleged transactions and fraudulence. Typically, the registration fee is one percent of the ‘agreement value’ but it can vary from state to state. The local government decides the registration percentage of a property.

                    </p>

                    <br>
                    <p><b>Stamp duty: </b> The stamp qualifies as the income/sales tax collected by the government and is typically about five percent of the market value of a property. However, it can be higher in some states. The buyer has to pay this amount at a designated bank or collection center before the registration of the property and any delay can attract penalty. This charge is calculated on the basis of the Ready Reckoner rates issued by the government and unless paid, the property would not receive a legal status. This tax is paid on every transaction including exchange of documents and execution of instruments.

                    </p>
                    <br>
                    <p>Since these taxes form a significant portion of the total value of a property, the home buyer is burdened by these components and ends up stalling the decision to buy. There is a need to rationalize these taxes so that the dream of owning a home becomes a reality for the common man.

                    </p>
                    <br>

               </div>
            </div>
        </div>
        
        </body>
        
        </html>